body{
    background: #94A684;
}


.profile-area{
    padding: 100px 0;
}

.bi-info-circle{
    text-decoration: none;
}

.btn{
    border-color: #fff;
}

a:link {
    text-decoration: none;
    color: #fff;
}

/* tampilan data mahasiswa */
.data-mahasiswa{
    margin-top: 40px;
    padding: 40px;
}

/* tampilan data kelas */
.data-kelas{
    margin-top: 40px;
    padding: 40px;
}

/* edit foto */
.edit_foto{
    width: 200px;
    
}

.card-createuser{
    margin-top: 40px;
    padding: 40px;
}

.card-createkelas{
    margin-top: 80px;
    padding: 40px;
}

.edit-user{
    margin-top: 10px;
    padding: 10px;
}

.edit-kelas{
    margin-top: 80px;
    padding: 40px;
}
